<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
    <add assembly="NLog.Loki" />
  </extensions>
  <variable name="modulename" value="TradingService.Api" />
  <variable name="logFileName" value="${basedir}/logs/${date:format=yyyy-MM-dd}_${modulename}.log" />
  <variable name="layoutPrefix" value="${date:format=HH\:mm\:ss}" />
  <variable name="layoutConsoleSuffix" value="[${level}] : [${message}]" />
  <variable name="layoutConsoleSuffixError" value="[${level}] : [${message}] | ${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}" />
  <variable name="layoutFileSuffix" value="[${level}] : [${message} ] " />
  <variable name="layoutFileSuffixError" value="[${level}] : [${message} ] [${logger}] [${stacktrace}] | ${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}" />
  <targets async="true">
    <target name="console" xsi:type="ColoredConsole" layout="${layoutPrefix} ${layoutConsoleSuffix}" />
    <target name="file" xsi:type="File" fileName="${logFileName}" layout="${layoutPrefix} | ${layoutFileSuffix}" enableFileDelete="true" archiveEvery="Day" maxArchiveFiles="90" />
    <target name="fileError" xsi:type="FilteringWrapper" fileName="${logFileName}" condition="length('${exception}')>0">
      <target xsi:type="File" fileName="${logFileName}" layout="${layoutPrefix} | ${layoutFileSuffixError}" enableFileDelete="true" archiveEvery="Day" maxArchiveFiles="90" />
    </target>
    <target name="consoleError" xsi:type="FilteringWrapper" condition="length('${exception}')>0">
      <target xsi:type="ColoredConsole" layout="${layoutPrefix} ${layoutConsoleSuffixError}" />
    </target>
    <target xsi:type="loki" name="loki"
            batchSize="200"
            taskDelayMilliseconds="500"
            endpoint="http://loki:3100"
            orderWrites="true"
            compressionLevel="noCompression"
            layout="${level}|${message} ${exception:format=tostring}">
      <label name="app" layout="${var:modulename}" />
      <label name="server" layout="${hostname}" />
      <label name="level" layout="${level}" />
    </target>
  </targets>
  <rules>
    <logger name="Program" minlevel="Trace" writeTo="file,fileError,console,consoleError" />
    <logger name="Microsoft.AspNetCore.HttpLogging.*" minlevel="Error" writeTo="file,console" />
    <logger name="Microsoft.Hosting.Lifetime*" minlevel="Error" writeTo="file,console" />
    <logger name="TradingService.Api.*" minlevel="Trace" maxlevel="Warn" writeTo="file,console" />
    <logger name="TradingService.Api.*" minlevel="Error" writeTo="fileError,consoleError" />
    <logger name="*" minlevel="Info" writeTo="loki" />
  </rules>
</nlog>
